footer {
    width: 100%;
    height : auto;
    text-align: center;
    background-color: $primary-color; 

    h5 {
        padding-top: 1.3rem;
    }

    ul {
        display: flex;
        justify-content: center;
        gap: 1rem;

        a {
            font-size: 2rem
        }
    }
    
    div:nth-child(2) {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0.3rem; 
    }
    
    p {
        padding-bottom: 1rem;
    }

}

@media (min-width: 768px) {

    footer {
        padding: 1rem;
        
        div {
            display: flex;
            justify-content: space-around;
            align-items: center;

            div {
                flex-direction: column;
            }
        }

    }

}

@media (min-width: 1024px) {

    .home_banner_section {
        height: 40vh;
    }

    .diagnostic_banner_section {
        height: 25vw;
    }
}
