form {
    width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: $tertiary-color;
    padding: 2rem;

    div {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        
        textarea {
            resize: none;
        }
    }

    button {
        text-align: center;
    }

    .accept_conditions {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}

.redirection {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;

}