form {
    max-width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #F3F4F1; // A ajouter à 1 variable
    padding: 2rem;

    div {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        
        textarea {
            resize: none;
        }
    }

    button {
        text-align: center;
        border: 0.1rem solid black;
    }
}

.register_redirection {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;

    a {
        text-decoration: underline;
    }
}
.login_redirection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;

    a {
        text-decoration: underline;
    }
}
