@font-face {
    font-family: "Montserrat Regular";
    src: url("/src/assets/fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway Regular";
    src: url("/src/assets/fonts/Raleway/static/Raleway-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}