* {
    box-sizing: border-box;
    //border: 1px solid red;
}

html{
    font-size: 50%;
}

body {
    width: 100%;
    font-family: $font-family-text;
    font-weight: 300;
    font-size: 1.6rem;
    text-align: justify;
    color: $text-color;
}

main, 
.container {
    width: 100%;
    margin: 0 auto;
    font-family: $font-family-text;
    font-weight: 300;
}

h1, 
h2, 
h3, 
h4,
h5 {
    font-family: $font-family-title;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem;
}

h2, 
h3, 
h4, 
h5 {
    padding-top: 1.2rem;
}

h3 {
    padding: 1rem 0 2rem 0;
}

h3::after {
    content: "";
    display: block;
    width: 30%;
    height: 2px;
    background-color: $secondary-color;
    margin: 0.3rem auto 0.3rem;
}

section {
    padding: 1rem 0 2rem 0;
    height: auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.3rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.8rem;
}

.our_values {

    p {
        max-width : 80vw;
        margin: auto;
        padding: 2rem;
        background-color: $tertiary-color;
        border-radius: 10px;
    }
}

// Media Queries 

@media (min-width: 768px) {

    html {
        font-size: 56.25%;
    }

}

@media (min-width: 1024px) {

    html {
        font-size: 62.5%;
    }

    main,
    .container {
        width: 1024px;
    }
}