#accordion {
    //width: 90vw;
    margin: auto;
    padding: 1rem 2rem;

    button {
        @include button ($tertiary-color, $text-color);
        width: 100%; 
        margin: auto;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            padding-left: 1rem;
            padding-right: 2rem;
            text-transform: uppercase;
        }

        span:nth-child(2){
            font-size: 2rem;
        }

    }

    div {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        padding: 0.5rem;
    }

}