.popup_confirmation {
    position: fixed;
    top: 30%;
    left: 15%;
    border: 1px solid grey; // A modifier
    background-color: $background-color; // A moidifier
    padding: 1rem;
    z-index: 999;
}