.container {
    aside {
        background-color: $tertiary-color; 
        padding: 1rem;
        
        div {
            padding-top: 1rem;
            display: flex;
            justify-content: space-around;
            gap: 1rem;
            text-align: center;
            position: relative;

            ul {
                padding: 0.5rem;

                li {
                    padding: 0.1rem;
                }
            }
            
        }
    }

    main {
        padding: 1rem;
    }

}