aside {
    div {
        button {
            all: unset;

            ul {
                text-align: start;
            }

        }
    }
}


main {
    padding: 0;

    .dashboard_controls {
        display: flex;
        justify-content: space-evenly;
        
        button {
            @include button($tertiary-color, $text-color, $padding: 0.5rem 2rem)
        }
    }

    .dashboard_content {
        padding: 0.4rem;
    
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 0.5px solid $separation-color;
            padding: 0.3rem 0.5rem;

            div {
                display: flex;
                padding : 0.2rem;
                gap: 1rem;
            }

            .update_form {
                display: flex;
                flex-direction: column;
                margin: auto;
            }
        }

    }

    .dashboard_comments {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        article {
            background-color: $tertiary-color; // à modifier
            border-radius: 5px;
            padding: 1rem;
            display: flex;
            gap: 1rem;

            div {
                padding: 0.5rem;
            }

            div:first-child {
                width: 70%;
                background-color: $background-color;
                border-radius: 5px;

                p {
                    padding: 0.2rem;
                }

                p:first-child {
                    font-weight: bold;
                }
            }

            div:last-child{
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;

                p {
                    text-transform: uppercase;
                    text-align: start;
                }

            }   
        }

    }

    .dashboard_contacts{

        article {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            border-bottom: 1px solid $separation-color;
        }

        .contact_details{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 1rem;
        }
    }

}



@media (min-width: 1024px) {

    aside {
        div {
            button {
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
}