.product_details_section {
    position: relative;
    max-width: 100%;

    .product_details_top {
        

        img {
            width: 50vh;
            height: 50vh;
            margin: auto;
            object-fit: cover;
        }

        div {
            width: 60vh;
    
        }

    }

}


.buy_btn {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9; // A modifier
    display: none;

    button {
        width: 100%;
        border: none;
        background-color: #616870; // A modifier
        color: white; // A modifier
        border-radius: 5px;
    }
   
}

.buy_btn.active {
    display: block;
}

.popup {
    position: absolute;
    top: 50%;
    left: 18%;
    width: 90%;
    max-width: 400px;
    background-color: white; // A modifier
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    z-index: 1000;
    display: none;

    button {
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #ff6b6b; // A modifier
        color: white;// A modifier
        border: none;
        border-radius: 5px;
        
    }

}

.popup.active {
    display: block;
}