.product_details_section {
    max-width: 100%;

    .product_details_top {
        

        img {
            width: 50vh;
            height: 50vh;
            margin: auto;
            object-fit: cover;
        }

        div {
            width: 60vh;
    
        }

    }

}