$primary-color: #6E6259;
$secondary-color: #A1887F;
$tertiary-color: #DADADA;

$background-color: white;

$text-color: black;
$error-color: rgb(139, 10, 10);

$separation-color: #e0e0e0;

$button-color: #BCAAA4;

$hover-bg-color: #3c3026;


$highlight-background-color: #E6CCB2;





$font-family-title: "Montserrat Light", Arial, Helvetica, sans-serif;
$font-family-text: "Raleway Light", Arial, Helvetica, sans-serif;