$primary-color: #7a6a5e;
$secondary-color: #A1887F;
$tertiary-color: #DADADA;

$background-color: white;

$text-color: black;
$error-color: rgb(139, 10, 10);

$separation-color: #b5b5b5;

$button-color: #BCAAA4;

$hover-bg-color: #A8978D;

$font-family-title: "Montserrat Regular", Arial, Helvetica, sans-serif;
$font-family-text: "Raleway Regular", Arial, Helvetica, sans-serif;